*{
	margin:0;
	box-sizing:border-box;
}
.container{
	max-width:1140px;
	margin: 0 auto;
}
.box{
	width:50%;
	margin:50px auto;
}
.box .box-img{
	width:100%;
	height:300px;
	overflow:hidden;
}
.box .box-img img{
	width:100%;
	height:100%;
	object-fit:cover;
	object-position:bottom;
	transition:1s;
}
.box .box-content{
	padding:30px;
	background-color:black;
	color:white;
}
.box .box-content p{
	margin:10px 0;
}
.box .box-content button{
	width:150px;
	height:50px;
	background-color:white;
	color:black;
}

.box .box-img:hover img{
	transform:scalex(1.5);
}