*{
	margin:0;
	box-sizing:border-box;
}
.container{
	margin:0 auto;
	max-width:1140px;
}
body{
	background-color:orange;
}
.main-card{
	width:90%;
	position:relative;
}

.card{
	width:30%;
	padding:100px 30px 30px 30px;
	background-color:white;
	margin:250px auto;
	text-align:center;
	border-radius:12px;
}
.card p{
	padding:18px;
	color:gray;
}
h1{
	color:orange;
}
h3{
	padding:10px;
}
.main-card .card-img img{
	width:15%;
	height:150px;
	border-radius:100%;
	background-color:black;
	object-fit:cover;
	position:absolute;
	top:-70px;
	left:50%;
	transform:translatex(-50%);
	
}
button{
	border:0;
	width:55%;
	padding:10px;
	background-color:orange;
	color:white;
}