*{
	margin:0;
	box-sizing:border-box;
}
.container{
	margin:0 auto;
	max-width:1140px;
}
body{
	background-color:white;
}
.main-card{
	position:relative;
}
.card{
	width:20%;
	height:40px;
	background-color:black;
}
h1::after{
	display:inline-block;
	position:absolute;
	content:"_______";
	width:40%;
	height:7px;
	background-color:black;
	left:50%;
	bottom:0px;
	
	
}

h1::before{
	position:absolute;
	content:"";
	background-color:black;
	line-height:50%;
	margin:1.5px;
	left:40%;
}

.main-card{
	margin:10px;
}

h1{
	padding:10px;
	color:white;
}