@font-face {
    font-family: 'Hedvig Letters Serif 24pt';
    src: url('../font/HedvigLettersSerif-24ptRegular.woff2') format('woff2'),
        url('../font/HedvigLettersSerif-24ptRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hedvig Letters Serif 18pt';
    src: url('../font/HedvigLettersSerif18pt-Regular.woff2') format('woff2'),
        url('../font/HedvigLettersSerif18pt-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hedvig Letters Serif';
    src: url('../font/HedvigLettersSerif-Regular.woff2') format('woff2'),
        url('../font/HedvigLettersSerif-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

