.banner{
    background-image: url('../img/footer-bg.jpg');
}

.navbar{
    position: absolute;
    width: 100%;
}

.blog .col{
    transition: 1s;
}

.blog .col:hover{
    border: 1px solid rgb(184, 184, 184);
}