*{
	margin:0;
	box-sizing:border-box;
}
.chess{
	height:100vh;
	background-image:url('../img/table1.png');
	padding-top:30px;
}
.container{
	max-width:1140px;
	margin:0 auto;
}

.Chessbord{
	width:800px;
	height:800px;
	border:10px groove GREY ;
	margin:50px auto ;
}

.black{
	width:calc(100% - 87.5%);
	height:calc(100% - 87.5%);
	background-color:black;
	float:left;
	font-size:50px;
	color:white;
	text-align:center;
	border:2px groove GREY ;

}

.red{
	width:calc(100% - 87.5%);
	height:calc(100% - 87.5%);
	background-color:silver;
	float:left;
	font-size:50px;
	color:white;
	text-align:center;
	border:2px groove GREY ;
}